*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
}
input[type="submit"]{
    background-color: #0D79D1;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}
.container{
    width: 100%;
}
input,select,textarea{
width: 95%;
margin: 5px 10px;
padding: 10px;
}
p,label{
    margin-left: 10px;
}
.section1 input{
    width: 47%;
}
.section2 article input{
    width: 97%;
}
.section2 input,select{
    width: 47%;
}
.section2 label{
    margin-left: 430px;
    opacity: 0.6;
}
.section3 input[type="text"]{
    width: 64%;
}
.section3 input[type="number"]{
    width: 30%;
}
input[type="submit"]{
    padding: 5px;
    width: 15%;
    margin: 5px 10px;
}
.section4 textarea{
    width: 90%;
    margin-bottom: 5px;
}
hr{
    margin: 0px 8px;
    margin-bottom: 10px;
}