*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
}
input[type="submit"]{
    background-color: #0D79D1;
    color: white;
    border: none;
    margin-left: 20px;
    border-radius: 4px;
    padding: 5px 10px;
    width: 100px;
    height: 30px;
}
.container{
    width: 100%;
    padding: 20px;
}
input,select,textarea{
width: 96%;
margin: 10px 10px;
padding: 10px;
margin-left: 18px;
}
p{
    margin-left: 18px;
}
.section1{
    width: 35%;
}
.section1 input{
    margin-left: 18px;
    width: 90%;
}
.section2{
    width: 65%;
}
article{
    margin: 0;
    padding:0;
}
.section2 article input{
    margin-left: 18px;
    width: 87.7%;
}
.section2 input,select{
    margin-left: 18px;
    width: 42.5%;
}
.section2 label{
    margin-left: 46%;
    opacity: 0.6;
}
.section3{
    width: 45%;
}
.section3 input[type="text"]{
    margin-left: 18px;
    width: 50%;
}
.section3 input[type="number"]{
    width: 33%;
}
.section4{
    width: 49%;
}
.section4 textarea{
    width: 96%;
}
input[type="submit"]{
    padding: 5px;
    width: 15%;
}
.container .mainsec1 section{
    float: left;
}
.mainsec1::after{
    content: "";
    display: table;
    clear: both;
}
.container .mainsec2 section{
    float: left;
}
hr{
    width: 90%;
    margin-left: 8px;
    margin-bottom: 10px;
}
input[id="str2"]{
    display: none;
}
.section5 input{
    width: 15%;
}
hr.hrclass1{
    width: 93%;
}
hr.hrclass2{
    width: 89%;
}
hr.hrclass3{
    width: 89%;
}
hr.hrclass4{
    width: 98%;
} 
