*, *::after, *::before{ 
    box-sizing: border-box; 
}
tr{
    color:#5e4f4f;
}
tr:nth-child(even){
    background-color: #AFCE91;
}
tr:hover{
    background-color: lightgray;
}
h1{
    text-align: center;
    color: #5757a1;
}
h2{
    color: #478947;
}
thead{
    background-color: rgba(0, 174, 255, 0.53);
    color: white;
}
th,td{
    padding: 10px;
}
tbody{
    text-align: center;
}
form{
    width: 55%;
    background-image: linear-gradient(#00AEFF,rgba(255, 255, 0, 0.46));
    border: 1px solid red;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
}
label{
    display: block;
    font-size: 25px;
    color: #5757a1;
}
input{
    width: 100%;
    padding: 15px;
}
.form-button{
    margin-top: 20px;
}
input[type="submit"]{
    color: white;
    background-color: rgba(0, 174, 255, 0.53);
    border: none;
    font-size: 20px;
}
.product-information{
    display: flex;
    justify-content: space-between;
}
.quantity{
    width:50px;
    padding:0px;
    text-align:center;
    background-color:#cbf1a7;
    border: none;
    border-radius: 5px;
}
i{
    padding:5px;
}
