*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
}
input[type="submit"]{
    background-color: #0D79D1;
    color: white;
    border: none;
    padding: 5px;
}
.container{
    width: 100%;
}
input,select,textarea{
width: 95%;
margin: 5px 10px;
padding: 10px;
}
p,label{
    margin-left: 10px;
}
.hrclass{
    display: none;
}
.section2 label{
    opacity: 0.6;
}