*, *::after, *::before{ 
    box-sizing: border-box; 
} 
body{ 
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}
/* .main,.footer2{
    padding: 50px 80px;
    background-color: #F3F0F0;
} */
.main{
    background-color: #F3F0F0;
}
.footer, .products, .return{
    padding: 20px 80px;
    /* background-color: #F3F0F0; */
}
.menu-type{
    padding: 0px 80px;
    /* background-color: #F3F0F0; */
}
.menu-item{
    margin: 0px 80px;
    /* background-color: #F3F0F0; */
}
.logo{
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 50px;
}
.logo img{
    margin-right:20px;
    width: 120px;
    height: 120px;
}
.logo p{
    font-size: 1.5em;
    color:#fa5650; 
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul>li a{
    text-decoration: none;
    color: rgb(98, 98, 98);
}
.menu-links{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu ul>li{
    margin-right: 50px;
}
.banner{
    background-color: #F3F0F0;;
    margin-top: 30px;
    height: 50%;
}
.img-section{
    float: left;
    width: 75%;
}
.description-section{
    float: left;
    padding: 50px 10px 50px 30px;
    background-color: #fa5650;
    color: white;
    width: 25%;
    height: 700px;
}
.description-section h1{
    font-size: 2em;
    margin: 0px;
}
.description-section button{
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}
.description-section i{
    margin-left: 10px;
}
.banner::after{
    content: "";
    clear: both;
    display: table;
}
.row{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.row1{
    
    justify-content: space-around;
    width: 25%;
    background-color: #fa5650;
    color: white;
    border-radius: 5px 5px 0px 0px;
}
.row2{
    width: 50%;
}
.row3{
    width: 25%;
    justify-content: flex-end;
}
.menu-type1{
    display: flex;
}
.menu-type .headingP{
    font-size: 2em;
}
.row2 .p1{
    margin-left: 20px;
    color: rgb(98, 98, 98);
}
.row2 select{
    padding: 10px;
    margin-left: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
/* .row3 p{
   margin-left: 15px;
} */
.row3 input[placeholder="Search recipe"]{
    border: none;
    color: black;
    background-color: #F3F0F0;
    font-size: 1.2em;
    padding: 15px;
    /* text-align: end; */
}
.menu-item{
    display: flex;
    background-color: #fa5650;
    color: white;
    padding: 30px;
    border-radius: 0px 5px 5px 5px;
}
.menu-item p{
    padding-left: 15px;
}
.menu-item1, .menu-item2, .menu-item3, .menu-item4{
    width: 25%;
    padding: 10px;
}
.menu-item1{
    border-right: 1px solid white;
    width: 24%;
}
.checkbox-container{
    display: flex;
    align-items: center;
    padding: 10px;
}
.checkbox-container label{
    cursor: pointer;
    display: flex;
}
.checkbox-container input[type="checkbox"]{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    color: white;
}
.checkbox-container label::before{
    content: "";
    width: 1.5em;
    height: 1.5em;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
    background-color: white;
}
.checkbox-container input[type="checkbox"]:checked + label::before{
    content: "\002714";
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.product{
    width: 23%;
}
.product-row1, .product-row2, .product-row3{
    display: flex;
    justify-content: space-between;
    padding-top:30px;
}
.product .desc{
    padding: 15px;
    background-color: white;
    height: 150px;
}
.desc .p1{
    font-size: 1.5em;
    margin: 5px;
}
.product img{
    width: 100%;
    height: auto;
}
.side{
    display: flex;
    justify-content: space-between;
}
.side p{
    font-size: 0.6em;
    color: grey;
}
.return{
    display: flex;
    align-items: center;
    color: #fa5650;
    cursor: pointer;
    /* padding-top: 10px; */
}
.return i{
    margin-left: 10px;
}
.contact{
    background-color: #fa5650;
    color: white;
    padding: 50px 80px;
}
.contact .p1{
    font-size: 2em;
    margin-bottom: 0px;
}
.contact-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 20px  50px 20px 0px;
}
.contact-div div>input[type="text"],input[type="email"]{
    margin-top: 20px;
    padding: 10px;
    padding-right: 120px;
    border: none;
    border-radius: 5px;
}
.contact-div-none{
    border-bottom: none;
}
.contact-div .remove{
    width: 150px;
    cursor: pointer;
}
.contact .button1{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    width: 150px;
    background-color: #fa5650;
    cursor: pointer;
}
.contact .button2{
    margin-top: 30px;
    margin-left: 40%; 
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.contact i{
    margin-left: 10px;
}
.footer{
    display:flex;
    color: rgb(98, 98, 98);
}
.footer a{
    text-decoration: none;
    color: #fa5650;
}
.footer-div1, .footer-div2, .footer-div3{
    width:20%; 
    padding-right:50px;
}
.footer-div4{
    width:20%; 
    padding-right:80px;
}
.footer-div5{
    width:20%; 
}
.footer .p1{
    font-size: 1.2em;
}