*, *::after, *::before{ 
    box-sizing: border-box; 
} 
body{ 
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
main{
    background-color: #F3F0F0;
}
.footer, .products, .return, .our-recipies{
    padding: 20px 80px;
}
/*header section styles start*/
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul>li a{
    text-decoration: none;
    color: rgb(98, 98, 98);
}
.menu-links{
    padding: 65px 80px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5em;
}
.menu ul>li{
    margin-left: 80px;
}
.logo{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 80px;
}
.logo img{
    margin-right:20px;
    width: 120px;
    height: 120px;
}
.logo p{
    font-size: 1.5em;
    color:#fa5650; 
}
/*end header section styles*/
/*banner section styles start*/
.img-section{
    float: left;
    width: 75%;
}
.description-section{
    float: left;
    padding: 50px 10px 50px 30px;
    background-color: #fa5650;
    color: white;
    width: 25%;
    height: 700px;
}
.description-section h1{
    font-size: 3em;
    margin: 0px;
}
.description-section p{
    line-height: 25px;
}
.description-section button{
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}
.description-section i{
    margin-left: 10px;
}
.banner::after{
    content: "";
    clear: both;
    display: table;
}
/*end banner section styles*/
/*our recepies section styles start*/
.our-recipies h2{
    font-size: 2em;
    color: #505050;
    font-weight: 500;
}
.left-section{
    width: 25%;
    background-color: #fa5650;
    padding-bottom: 30px;
    border-radius: 5px 5px 0px 5px;
}
.right-section{
    width: 75%;
    background-color: #fa5650;
    padding-bottom: 30px;
}
.filter-recepies-section{
    display: flex;
    color: white;
}
.filter-recepie,.sort-recepie,.search-recepie{
    display: flex;
    align-items: center;
}
.filter-recepie1{
    justify-content: space-between;
    padding:10px 15px;
}
.sort-recepie1 .para{
    margin-left: 20px;
    color: rgb(98, 98, 98);
}
.sort-recepie1 select{
    font-size: 1em;
    padding: 10px 30px;
    margin-left: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.search-recepie1{
    font-size: 1.2em;
}
.search-recepie1 input[placeholder="Search recipe"]{
    border: none;
    color: black;
    background-color: #F3F0F0;
    font-size: 1em;
    padding: 10px;
    padding-right: 0px;
}
.sort-search{
    display: flex;
    justify-content: space-between;
    background-color:#F3F0F0;
    color: black;
    align-items:flex-start;
    padding: 10px;
}
.filter-para1{
    margin: 20px 25px;
    font-size: 1em;
}
.filter-para2{
    margin: 20px 35px 15px  35px;
    font-size: 1em;
}
.filter1{
    border-right: 1px solid white;
}
.rfilter{
    display: flex;
}
.filter2, .filter3, .filter4{
    width: 34%;
    padding: 10px;
}
.checkbox-container{
    display: flex;
    align-items: center;
    padding: 10px 25px;
}
.checkbox-container label{
    cursor: pointer;
    display: flex;
}
.checkbox-container input[type="checkbox"]{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    color: white;
}
.checkbox-container label::before{
    content: "";
    width: 1.5em;
    height: 1.5em;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
    background-color: white;
}
.checkbox-container input[type="checkbox"]:checked + label::before{
    content: "\002714";
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
/*end our recepies section styles*/
/*product section styles start*/
.product{
    width: 23%;
}
.product-row1, .product-row2, .product-row3{
    display: flex;
    justify-content: space-between;
    padding-top:30px;
}
.product .desc{
    padding: 15px;
    background-color: white;
    height: 200px;
}
.desc .header-two{
    font-size: 1.4em;
    margin: 5px;
    color: #505050;
    font-weight: 100;
}
.product img{
    width: 100%;
    height: auto;
}
.side{
    display: flex;
    justify-content: space-between;
}
.side p{
    font-size: 0.8em;
    color: grey;
}
/*end product section styles*/
.return{
    display: flex;
    align-items: center;
    color: #fa5650;
    cursor: pointer;
}
.return i{
    margin-left: 10px;
}
/*contact section styles start*/
.contact{
    background-color: #fa5650;
    color: white;
    padding: 50px 80px;
}
.contact .header-two{
    font-size: 2em;
    margin-bottom: 0px;
}
.contact label{
    display: block;
}
.contact-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 20px  50px 20px 0px;
}
.contact-div1, .contact-div2, .contact-div3, .remove-div, .button-div{
    width: 25%;
}
.contact-div div>input[type="text"],input[type="email"]{
    margin-top: 20px;
    padding: 15px;
    width: 90%;
    border: none;
    border-radius: 5px;
}
.contact-div-none{
    border-bottom: none;
}
.contact-div .remove-div{
    margin-top: 40px;
    cursor: pointer;
}
.remove-div p{
    margin-left: 100px;
    width: 70%;
    text-align: center;
}
.contact .button1{
    margin-left: 100px;
    width: 70%;
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    background-color: #fa5650;
    cursor: pointer;
}
.send-button{
    width: 100%;
}
.contact .button2{
    margin: 30px 0px;
    margin-left: 45%;
    margin-top: 30px;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.contact i{
    margin-left: 10px;
}
/*end contact section styles*/
/*footer section styles start*/
.footer{
    display:flex;
    color: #505050;
}
.footer h2{
    font-weight: 500;
    font-size: 1.2em;
}
.footer p,a{
    font-size:0.8em;
}
.footer a{
    text-decoration: none;
    color: #fa5650;
}
.footer-div1, .footer-div2, .footer-div3{
    width:20%; 
    padding-right:50px;
}
.footer-div4{
    width:20%; 
    padding-right:80px;
}
.footer-div5{
    width:20%; 
}
/*end footer section styles*/

 

